* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #695b5a;
    font-family: 'Changa', sans-serif;
}

header {
    height: 50px;
    background-color: #FF5C4E;
    padding: 10px;
    text-align: center;
}

img {
    height: 30px;
    margin-right: 20px;
    display: inline-block;
}

h1 {
    display: inline-block;
    color: white;
    letter-spacing: 5px;
}

.lienzo {
    position: absolute;
    margin-top: 60px;
    margin-left: 33%;
    width: 500px;
    height: 500px;
    background-color: #B9DB00;
} 

.viborita {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #8476d0;
}

button {
    background-color: #5138dd;
    border-width: 0;
    border-radius: 20px;
    width: 100px;
    padding: 5px;
    margin-top: 600px;
    margin-left: 45%;
    font-family: 'Changa', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    color: white;
}